@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: #9d1e20 solid 5px; */
    padding-left: 50px;
    padding-right: 50px;
    overflow-x: hidden;
}
.header{
    background-color:  #1E2040;
    padding: 2px;
    /* border-color: #b2d7f0;
    border-style: solid;
    border-radius: 50px 50px 50px 50px; */
}
.nav-bar-content{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    text-align: left;   
}
.text-Navbar{
    color: #fff;
    text-align: start;
    padding: 18px;
    font-size: 20px;
    text-decoration: auto;
}
a:hover{
 color: #7C2040;
}
.experties-dropdown{
  position: relative;
}

.dropdown{
  background-color: #d2e1eb;
  display: none;
  flex-direction: column;
  width: 50vw;
  position: absolute;
  top: 5px;
  left: -745px;
  height: 360px;
}
.experties-dropdown:hover .dropdown{
  display: flex;
}
.dropdown-content{
  list-style: none;
  line-height: 40px;
  flex-direction: column;
}
.dropdown-H{
   color: #9D1F20;
   border-bottom: 2px solid #BABB42;
   padding-bottom: 20px;
   padding-top: 20px;
}
.hello{
  flex-direction: row;
  display: flex;
}

.lower-header{
    display: flex;
    background-color: #BABB42;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border-bottom: #fff 1px solid; 
    
}
.lower-header > img{
   justify-content: left;
   max-width: 100%;
   object-fit: contain;
   width: 350px;
   margin-top: 10px;
   margin-left: 65px;
  
}
.lower-header-S1{
    display: grid;
    list-style: none;
    justify-content: flex-end;
    display: flex;
    position: relative;
    width: 100%;    
}
    
.lower-header-list{
    /* padding: 30px; */
    color: #fff;
    margin-top: 20px;
    padding-right: 30px;
    text-decoration: none;
}

.lower-header-list:not(:last-child){
    margin-right: 70px;
}

.section2{
    background-color: #BABB42;
    border-bottom: #fff 1px solid;
}
.upper-div{
  padding-bottom: 100px;
}
.section2-H{
    margin:0px;
    color: #9d1e20;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 140px;
    padding-top: 45px;
    
}
.section2-P{
    /* margin-top: 150px;
    margin-right: PX; */
    font-size: 30px;
    line-height: 1.25;
    padding-left: 65px;
    font-weight: 400;
    margin-left: 200px;
    margin-right: 200px;
    color: #fff;
}
.about-us{
    margin-left: 200px;
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    padding-left: 65px;
    
}

.Our-Service{
    background-color: #133853;
    height: 550px;
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -65px;
   /* width: 100%; */
   /* padding-left: 20px !important;
   padding-right: 20px !important; */
   /* margin-left: 60px;
   margin-top: 30px; */
}
.Our-Service-H{
   justify-content: center;
   align-items: center;
   display: flex;
   color: #fff;
   font-family: Muli;
}

  .Our-Service-Content{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-right: 400px;
    padding-left: 260px; 
    align-items: center;
    background-color: #133853;
    /* max-width: 100%; */
    /* background:rgb(128, 93, 93); */
}
.Our-Service-logo-holder{
    min-width: 300px;
    min-height: 350px; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #9EAD4C;
    padding: 5px;
    /* width: 260px; */
}
.green{
  background-color: #F69679 ;
}
.purple{
  
background-color: rgb(5, 119, 75);
}
.Our-Service-logo-holder:not(:last-child){
  margin-right: 20px;
}
.Our-Service-logo-holder > img{ 
    width: 100%;
    height: 50%; 
}
.Our-Service-text{
 color: white;
 font-size: 30px;
}
.section3{
   padding-left:150px;
   padding-right: 150px;
   height: 700px;
   background-color: rgb(226, 226, 206);
   border-bottom:3px  red solid;
}

.section3-MC{
    height: 80px;
    margin-top:5px ;
    background-color: rgb(226, 226, 206);
}
.section3-MH{
  margin: 0;
    justify-content: center;
    text-align: center;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    color: #9d1e20;
    font-family: Muli;
}


.section4{
background-color: white;
/* border: 5px solid rgb(226, 226, 206) ; */
 display: flex;
 position: relative;
}
.section4-H{
    display: flex;
}
.section4-MH{
 display: flex;
 padding-left: 250px;
 color: #9d1e20;
 font-size: 50px;
 font-weight: 600;
 line-height: 58px;
 padding-right: 1%;
 padding-top: 25px;
 
}
.section4-P{
    display: flex;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    color: #000000;
    padding-top: 45px;
    /* padding-right: 40px; */
}
/* .spacing-div{
    height: 50px;
    background-color:#9d1e20;
} */
.section4-content{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
}
.section4-imag{
   display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
    margin-left: 100px;
}
.section4-imag2{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.section4-imag3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
    margin-left: 100px;
    
}
.section4-imag > img{
    width : 450px;
    height: 450px;
    margin-right: 120px;
}
.section4-imag2 > img{
    width : 620px;
    height: 450px;
    padding-left: 120px;
}
.section4-imag3 > img{
    width : 450px;
    height: 450px;
}
.section-footer{
  background-color: #F7F7F7;
  height: 400px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  align-items: flex-start;
  justify-content: space-around;
  border-bottom: 4px solid #9d1e20;
}
.footer-content{
  display: flex;
  flex-direction: column;
}
.footer-content >a {
  text-decoration: none;
  color: #000000;
}
.footer-content:not(:last-child){
  margin-right: 10px;
}
.footer-MH{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #9d1e20 !important;
    line-height: 57px !important;
}
a:hover{
 color: #7C2040;
}
.Follow-Us-H{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #9d1e20 !important;
    line-height: 57px !important;
    margin-top: 10px;
}
.social-logos{
  padding-left: 10px;
  margin: 0;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 570px;
  background-color: black;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: blueviolet;
}

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  color: #d2e1eb;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
.carousel__slide >img{
  height: 100%;
  width: 100%;
}


